/*------------------------------------*\
#HEADER
\*------------------------------------*/

.header {
    padding-top: 10px;
    padding-bottom: 10px;
    background: $color-contrast;
    z-index: 2;
    position: fixed;
    width: 100%;
  
    &__container {
      display: flex;
      flex-direction: column;
      text-align: center;
      padding: 0;
  
      @media (min-width: 767px) {
        flex-direction: row;
        text-align: initial;
      }
    }
  
    &__logo-link {
      display: inline-block;
      border: none;
  
      &:hover {
        border: none;
      }
    }
  
    &__logo {
      width: 200px;
      height: auto;
      text-align: left;
    }
  
    &__nav {
      color: $color-text;
      display: block;
      float: initial;
      position: relative;
      top: 10px;
  
      @media (min-width: 767px) {
        margin-left: auto;
      }
    }
  
    &__nav-list {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }
  
    &__nav-item {
      display: inline-block;
      font-size: 1rem;
      font-weight: 600;
      padding-left: 15px;
  
      &.active a {
        font-weight: bold;
        border-bottom: 2px dotted;
      }
    }
  
    &__nav-link {
      color: $color-text-light;
      text-decoration: none;
  
      &:hover {
        color: $color-main;
      }
    }
  
    &__logo-web {
      position: relative;
      top: 10px;
      & i {
        color:$color-text-light;
      }
    }
  }
  