/*------------------------------------*\
#FOOTER
\*------------------------------------*/


.footer {
  padding-top: 15px;
  background-color: $color-contrast;
  color: $color-text-light;
  font-size: 0.8rem;

  a {
    color: inherit;
    border: none;
    font-size: 1.2em;

    &:hover {
      border: none;
      color: $color-main;
    }
    i {
      color: $color-text-light;
    }
  }
  
  li {
     list-style: none;
     margin-right: 20px;
  }

  ul {
    text-align: center;
  }
}

