<footer class="footer d-flex justify-content-center">
    <div class="container footer__container">
        <div class="row justify-content-center">
            <div class="col-md justify-content-md-center">
                <a href="index.html">
                    <h2><i class="fa-solid fa-drumstick-bite">MASTERFOOD</i></h2>
                </a> 
            </div>
            <div class="col-md justify-content-md-center">
                <ul class="footer__menu">
                    <li class="d-inline"><a href="index.html">Inicio</a></li>
                    <li class="d-inline"><a href="chefs.html">Chefs</a></li>
                    <li class="d-inline"><a href="blog.html">Blog</a></li>
                    <li class="d-inline"><a href="galeria.html">Galería</a></li>
                </ul>
            </div>
            <div class="col-md justify-content-md-center">
                <ul class="footer__menu">
                    <li class="d-inline"><a href="#"><i class="fa-brands fa-google-plus-g"></i></a></li>
                    <li class="d-inline"><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
                    <li class="d-inline"><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>







