
<header class="header">
    <div class="container header__container">
        <a class="header__logo-link" href="index.html">
            <h2 class="header__logo-web"><i class="fa-solid fa-drumstick-bite">MASTERFOOD</i></h2>
        </a> 
        <nav class="header__nav">
            <ul class="header__nav-list">
                <li class="header__nav-item"><a href="chefs.html" class="header__nav-link">Chefs</a></li>
                <li class="header__nav-item"><a href="blog.html" class="header__nav-link">Blog</a></li>
                <li class="header__nav-item"><a href="galeria.html" class="header__nav-link">Galería</a></li>
            </ul>
        </nav>
    </div>
</header>
